/* @import url("./assets/fonts/OpenSans.ttf"); */
@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/OpenSans.ttf);
}

:root {
  --primary-accent: rgb(166, 236, 255);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: "OpenSans";
  font-weight: 350;
  color: white;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
  padding: 1.2rem;
  user-select: none;
  font-size: 1.5rem;
}

.logo {
  filter: invert(100%);
  width: 150px;
}
nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 10rem));
  text-align: center;
  position: absolute;
  right: 1.5%;
}

nav > a {
  color: white;
  text-decoration: none;
  transition: 0.3s color;
  margin: 0 1rem;
}

nav > a:hover {
  font-weight: 600;
  color: var(--primary-accent);
}

nav > a.selected {
  color: var(--primary-accent);
}

nav .dot {
  width: 7px;
  height: 7px;
  background: var(--primary-accent);
  border-radius: 50%;
  transform: translateX(30px);
  transition: 0.4s;
  margin-top: 0.3rem;
}

nav > a:hover ~ .dot {
  transition: 0.4s;
  opacity: 1;
}

nav > a:nth-child(1).selected ~ .dot {
  transform: translateX(75px);
}

nav > a:nth-child(2).selected ~ .dot {
  transform: translateX(238px);
}

nav > a:nth-child(3).selected ~ .dot {
  transform: translateX(395px);
}

nav > a:nth-child(1):hover ~ .dot {
  transform: translateX(75px);
}

nav > a:nth-child(2):hover ~ .dot {
  transform: translateX(238px);
}

nav > a:nth-child(3):hover ~ .dot {
  transform: translateX(395px);
}
